::v-deep .el-checkbox {
  &__inner {
    width: 24px;
    height: 24px;
    border-radius: 0;
    border-color: $--color-darkgray;
  }
  &__input {
    .el-checkbox__inner {
      &::after {
        top: 3px;
        left: 7px;
        width: 6px;
        height: 10px;
        border-width: 2px;
      }
    }
    &.is-checked {
      .el-checkbox__inner {
        background-color: $--color-primary;
        border-color: $--color-primary;
      }
    }
    &.is-disabled {
      .el-checkbox__inner {
        background-color: $--color-palegray;
        border-color: $--color-tertiary-lightgray;
      }
      &.is-checked {
        .el-checkbox__inner {
          background-color: $--color-border;
          &::after {
            border-color: $--color-white;
          }
        }
      }
    }
  }
}

.el-checkbox {
  &.is-bordered {
    position: relative;
    padding: 0 1.2rem 0 3.2rem;
    border-radius: 0;
    border: 1px solid $--color-tertiary-lightgray;

    ::v-deep .el-checkbox {
      &__input {
        position: absolute;
        top: 50%;
        left: 1.4rem;
        transform: translateY(-50%);
        font-family: 'icomoon' !important;
        speak: never;
        font-style: normal;
        font-weight: normal;
        font-feature-settings: normal;
        font-variant: normal;
        text-transform: none;
        color: $--color-tertiary;
        font-size: 1.6rem;
        line-height: 1;
        -webkit-font-smoothing: antialiased;

        &:before {
          content: "\e924";
        }

        .el-checkbox__inner {
          display: none;
        }
      }
      &__label {
        padding: 0;
        height: 3.8rem;
        color: $--color-tertiary;
        font-size: $--font-size-x-medium;
        font-weight: $--font-weight-medium;
        line-height: 3.8rem;
      }
    }
  }

  &.is-checked {
    border-color: $--color-primary;
    transition: border 0.3s;

    ::v-deep .el-checkbox {
      &__input,
      &__label {
        color: $--color-primary;
        transition: color 0.3s;
      }
    }
  }
}